<!DOCTYPE html>
<html>
<head>
	<title>Address Book</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
</head>
<body>
	<div class="container">
		{% if contacts is empty %}
		<h2>Let's Create an Address book!</h2>
		<h5><a href="/create_contact">Add them here!</a></h5>
			{% else %}
		<h2>Here's your list of contacts:</h2>
		<ul>
			{% for contact in contacts %}
			<li>{{contact.getFirstName}}</li>
			{% endfor %}
		</ul>
		<button class="waves-effect waves-light btn"><a href="/create_contact">Add Another!</a></button>
		<button class="waves-effect waves-light btn"><a href="/delete_contacts">Delete Contacts</a></button>
		{% endif %}
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>