<!DOCTYPE html>
<html>
<head>
	<title>Address Book</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
	<div class="contactFormBg">
	</div>
	<div class="container">
		<div class="container contact z-depth-3" id="contactForm">
			<h3>Add a new contact:</h3>
			<hr>
			<div class="row">
				<form action="/add_contact" method="post" class="col s12">
					<div class="row">
						<div class="input-field col s6">
							<label for="first_name">Enter First Name:</label>
							<input name="first_name" id="first_name" type="text">
						</div>
						<div class="input-field col s6">
							<label for="last_name">Enter Last Name:</label>
							<input name="last_name" id="last_name" type="text">
						</div>
					</div>
					<div class="row">
						<div class="input-field col s4">
							<label for="street">Enter Street:</label>
							<input name="street" id="street" type="text">
						</div>
						<div class="input-field col s4">
							<label for="city">Enter City:</label>
							<input name="city" id="city" type="text">
						</div>
						<div class="input-field col s4">
							<label for="zip">Enter Zip Code:</label>
							<input name="zip" id="zip" type="text">
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<label for="phone">Enter Phone #:</label>
							<input name="phone" id="phone" type="number">
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<label for="image">Enter Img Url:</label>
							<input name="image" id="image" type="text">
						</div>
					</div>
					<button class="waves-effect waves-light btn" type="submit">Add</button>
				</form>
			</div>

	</div>
	</div>


	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script type="text/javascript" src="/../js/scripts.js"></script>
</body>
</html>
