/*==========
Contact Info
===========*/
.toggleInfo{
	text-decoration: none;
	border-bottom: 3px solid transparent;
	width: 0px;
	transition: 0.5s ease;
	white-space: nowrap;
	/*height: 40px;*/
}
.toggleInfo:hover{
	cursor: pointer;
	border-bottom: 3px solid black;
	width:200px;
}

.hideme{
	display: none;
}

.show{
	display: block;
}

/*===========
Buttons
=============*/
.btn{
	background-color: rgba(255,147,98,1);
}
.btn:hover{
	background-color: rgba(205,147,98,1);
}