/*==========
Contact Info
===========*/
.toggleInfo{
	text-decoration: none;
	border-bottom: 3px solid transparent;
	width: 0px;
	transition: 0.5s ease;
	white-space: nowrap;
	/*height: 40px;*/
}
.toggleInfo:hover{
	cursor: pointer;
	border-bottom: 3px solid rgba(255,147,98,1);
	width:200px;
}

.hideme{
	display: none;
}

.show{
	display: block;
}
.white-text {
	color:white;
}
/*============
Contact Form
=============*/

input[type=number]:focus:not([readonly]){
	border-bottom: 1px solid rgba(255,147,98,1);
	box-shadow: 0 1px 0 0 rgba(255,147,98,1);
}
input[type=text]:focus:not([readonly]){
	border-bottom: 1px solid rgba(255,147,98,1);
	box-shadow: 0 1px 0 0 rgba(255,147,98,1);
}


/*===========
Buttons
=============*/
.btn{
	background-color: rgba(255, 147, 98, 1);
}
.btn:hover{
	background-color: rgba(245, 147, 98, 1);
}